body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Bree serif";
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
  }
}

.like-btn {
  background-color: #eab308;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border: 0px;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 80px;
}

.comment-btn {
  background-color: #ffffff;
  color: #323f4b;
  font-size: 15px;
  font-weight: 500;
  border: 0px;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 120px;
}

.share-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border: 0px;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 80px;
}
